body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.division-unit {
  height: 60px;
  width: 60px;
  border: 1px dashed black;
  background-color: lightcyan;
}
