body {
  background-color: lightslategray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 12px 570px;
  background-color: lightskyblue;
  display: flex;
  flex-wrap: wrap;
}

.division-unit {
  flex: 0 0 auto;
  height: 48px;
  width: 48px;
  border: 1px dashed black;
  background-color: lightcoral;
}
