* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 12px;
  width: 960px;
  background-color: lightskyblue;
  display: flex;
  flex-wrap: wrap;
}

.division-unit {
  height: 56px;
  width: 56px;
  border: 1px dashed black;
  background-color: lightcyan;
}
